* {
  margin: 0;
  padding: 0;
}

body {
  background: #2e2c39;
  overflow: hidden;
}

.cursor {
  position: absolute;
  left: 40px;
  pointer-events: none;
}

.cursor span {
  position: absolute;
  width: 12px;
  height: 120px;
  background: #fff;
  transform: translate(-50%, -50%);
  z-index: 1;
  /* border-top: 60px solid #ff7534;
  border-bottom: 60px solid #00c464; */
}

/* .cursor span:nth-child(9) {
  z-index: 1000;
}

.cursor span:nth-child(9)::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 70px;
  height: 70px;
  background: url(escudo.png);
  background-size: cover;
  animation: animate 20s linear infinite;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} */
